body {
    font-family: 'Pontano Sans', sans-serif;
    font-size: small;
    color: #333;
    background-color: #ddd;
}

a {
    text-decoration: none;
    border-bottom: 1px dotted #00f;
}
a:hover {
    border-bottom-style: solid;
}

fieldset {
    margin: 1em 0;
}

header, section, footer {
    margin: 2em;
}
body.index header {
    margin-bottom: 0;
    z-index: 100;
}
body.index section {
    margin-top: 0;
}

body.scandal-form #toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em 2.5em 0.75em 2.5em;
    background-color: #eee;
    z-index: 100;
    border-bottom: 1px solid #ccc;
    -moz-box-shadow:    0 0 6px 0 #666;
    -webkit-box-shadow: 0 0 6px 0 #666;
    box-shadow:         0 0 6px 0 #666;
}

.flat-button {
    margin: 0 1em;
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#toolbar .buttons {
    float: right;
    text-align: right;
}
#toolbar .label-scandal_names {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 5em;
    padding-top: 1em;
    padding-left: 2.5em;
}
#toolbar .scandal_names {
    position: relative;
    top: -0.25em;
    padding-left: 5em;
    width: 67%;
    min-height: 24px;
}
#toolbar .scandal_names input[type="text"] {
    width: 95%;
    margin: 0.25em 0 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#toolbar .scandal_names input[type="button"] {
    position: absolute;
    right: 0;
    bottom: 0;
}

.button {
    margin: 0 1em;
    padding: 0.5em 1em;
    color: #333;
    text-decoration: none;
    border: 1px solid #888;
    background-color: #f4f4f4;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}
.separate {
    display: inline-block;
}
.button-small {
    padding: 0.1em 0.3em;
    color: #333;
    text-decoration: none;
    border: 1px solid #888;
    background-color: #f4f4f4;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: -moz-linear-gradient(top, #fff, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}

.event {
    border-top: 1px solid rgba(0,0,0,0.333);
    padding: 10px;
}

.boxed-list {
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.333);
}
.boxed-list > li {
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
}

.scandal-list a {
    display: block;
    padding: 1em;
    border: none;
    color: #333;
}

.navbar {
    padding-left: 0;
    list-style-type: none;
    text-align: right;
}
.navbar li {
    display: inline-block;
}
.navbar li a {
    padding: 0.5em 0.75em;
    margin-left: 0.5em;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 90%;
    text-transform: uppercase;
    background-color: rgb(64,192,64);
    border-radius: 6px 6px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
}
.navbar li a:hover {
    color: #fff;
}
.navbar-parent {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: #ddd !important;
}

.event-list li {
    padding: 1em;
}
.event-list #btn-add-event a {
    display: block;
    border: none;
    color: #333;
}

#scandal_consequences_btn {
    float: right;
    display: inline-block;
    margin-left: 1em;
}

#status-line {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    color: #fff;
    font-weight: bold;
    background-color: #c43;
    z-index: 150;
}
